<div class="box0">
  <header>
    <h1>todoリスト</h1>
  </header>

  <div class="main">
    <script type="module" src="app/javascript/index.js"></script>
  </div>

  <footer>
    作成者：古跡直樹
  </footer>

</div>